html {
  box-sizing: border-box;
  font-family: sans-serif;
  line-height: 1.5;
  background-color: #fff;
  font-size: 1.125rem;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
}

header {
  background-color: #e2e2e2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

header h1 {
  width: 33.3333%;
  align-self: auto;
  margin: .5rem;
}

header img {
  width: 2rem;
  order: -1;

  /* align-self: auto; */
}

header p {
  width: 33.3333%;
  align-self: auto;
  margin: .5rem;
}

nav a {
  width: 33.3333%;
  color: #0074d9;
  text-decoration: none;
  padding: .75em 1em .6em;
  align-self: auto;
}

nav a:hover {
  color: navy;
}

nav ul {
  list-style-type: none;
  display: flex;
  margin: .5rem;
}
